#ignore thumbnails created by windowsi
.vscode
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
deploy.config
Examples*/
*.vsmdi
*.testrunconfig
publish.xml
TestResults
src/Postmark.Tests/PostmarkClientTests.Work.cs
*.nupkg
sn-build
*.il
*.res
src/packages/
Postmark.dll
testconfig.config
testing_keys.json
.DS_Store
.testrunner/
.vs/
tools/
.idea