<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>
    <!-- Set this to your email server's API token (Guid) -->
    <add key="ServerToken" value="95e4f09f-c6ad-4eca-ad9a-1bed7f591089"/>

    <!-- Set this to a valid sender signature (email address) -->
    <add key="From" value="booking@stylers.ca"/>

    <!-- Set this to a known safe message recipient (email address) -->
    <add key="To" value="daniel.crenna@gmail.com"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
