<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
    <!-- Set this to your email server's API token (Guid) -->
    <add key="ServerToken" value=""/>
    
    <!-- Set this to a valid sender signature (email address) -->
    <add key="From" value="" />

    <!-- Set this to a known safe message recipient (email address) -->
    <add key="To" value="" />    
  </appSettings>
</configuration>