<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>
    <!-- Set this to your email server's API token (Guid) -->
    <add key="ServerToken" value=""/>

    <!-- Set this to a valid sender signature (email address) -->
    <add key="From" value=""/>

    <!-- Set this to a known safe message recipient (email address) -->
    <add key="To" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
